body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.upload-btn {
  background-color: #0073e6;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
}

.upload-btn label {
  cursor: pointer;
}

.loading {
  display: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.image-url {
  margin-top: 20px;
  color: #333;
}

.countdown {
  margin-top: 10px;
  font-size: 18px;
  color: red;
}
